<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="_navbar.scss">
</head>
<body>
    <div class="wrapper">   
        <header class="header">
            <div class="header__container">
                <a href="" class="header__logo"></a>
                <div class="header_menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a data-goto=".page__section_1" href="#" class="menu__link">Раздел №1</a></li>
                            <li><a data-goto=".page__section_2" href="#" class="menu__link">Раздел №2</a></li>
                            <li><a data-goto=".page__section_3" href="#" class="menu__link">Раздел №3</a></li>
                            <li>
                                <a href="" class="menu__link">Страница №1</a>
                                <span class="menu_arrow"></span>
                                <ul class="menu__sub-list">
                                    <li><a href="" class="menu__sub-link">Раздел Страницы №1</a></li>
                                    <li><a href="" class="menu__sub-link">Раздел Страницы №2</a></li>
                                    <li><a href="" class="menu__sub-link">Раздел Страницы №3</a></li>
                                </ul>
                            </li>
                            <li><a href="" class="menu__link">Страница №2</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="page">
            <section class="page_section page__section_1"> 
                <h1 class="page_title">Отличная статья</h1>
                <div class="page_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus sint magnam commodi quod reprehenderit facilis unde non laboriosam nisi quaerat debitis voluptates corporis illo, error cumque sunt omnis hic!</p>
                    <p>Aut, illum architecto cupiditate tempore perspiciatis repellendus perferendis ipsam provident harum autem numquam dolorem officia iste suscipit ab quidem vero atque, sunt totam? Odio rerum provident voluptas sunt repellendus pariatur!</p>
                    <p>Repellat odit optio nisi ullam molestias alias eos at aliquid sapiente eveniet vitae quae aliquam, sunt assumenda quibusdam laboriosam nesciunt corrupti rerum, id esse perferendis debitis repudiandae atque! Suscipit, earum?</p>
                    <p>Vel ratione eum quisquam labore molestiae, quod consequuntur laboriosam. Iste dolorum nihil mollitia, ullam debitis aperiam rerum ea necessitatibus cumque quaerat eveniet perspiciatis facere porro perferendis! Autem fugiat consequatur ad.</p>
                    <p>Dolores tempore debitis asperiores minus error aspernatur ex neque eligendi ipsam nesciunt molestias suscipit, recusandae eius tenetur eaque repudiandae atque ipsum! Quo quaerat veritatis doloremque quos repellat? Accusamus, corporis natus.</p>
                    <p>Fuga excepturi architecto exercitationem quam rerum ipsa iusto quos maxime ab dolor recusandae blanditiis repudiandae amet vero eum, quasi sint et. Pariatur sit consequatur mollitia neque, inventore dignissimos nulla a.</p>
                </div>
            </section>
            <section class="page_section page__section_2"> 
                <h2 class="page_sub-title">Отличная статья</h2>
                <div class="page_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus sint magnam commodi quod reprehenderit facilis unde non laboriosam nisi quaerat debitis voluptates corporis illo, error cumque sunt omnis hic!</p>
                    <p>Aut, illum architecto cupiditate tempore perspiciatis repellendus perferendis ipsam provident harum autem numquam dolorem officia iste suscipit ab quidem vero atque, sunt totam? Odio rerum provident voluptas sunt repellendus pariatur!</p>
                    <p>Repellat odit optio nisi ullam molestias alias eos at aliquid sapiente eveniet vitae quae aliquam, sunt assumenda quibusdam laboriosam nesciunt corrupti rerum, id esse perferendis debitis repudiandae atque! Suscipit, earum?</p>
                    <p>Vel ratione eum quisquam labore molestiae, quod consequuntur laboriosam. Iste dolorum nihil mollitia, ullam debitis aperiam rerum ea necessitatibus cumque quaerat eveniet perspiciatis facere porro perferendis! Autem fugiat consequatur ad.</p>
                    <p>Dolores tempore debitis asperiores minus error aspernatur ex neque eligendi ipsam nesciunt molestias suscipit, recusandae eius tenetur eaque repudiandae atque ipsum! Quo quaerat veritatis doloremque quos repellat? Accusamus, corporis natus.</p>
                    <p>Fuga excepturi architecto exercitationem quam rerum ipsa iusto quos maxime ab dolor recusandae blanditiis repudiandae amet vero eum, quasi sint et. Pariatur sit consequatur mollitia neque, inventore dignissimos nulla a.</p>
                </div>
            </section>
            <section class="page_section page__section_3"> 
                <h2 class="page_sub-title">Отличная статья</h2>
                <div class="page_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus sint magnam commodi quod reprehenderit facilis unde non laboriosam nisi quaerat debitis voluptates corporis illo, error cumque sunt omnis hic!</p>
                    <p>Aut, illum architecto cupiditate tempore perspiciatis repellendus perferendis ipsam provident harum autem numquam dolorem officia iste suscipit ab quidem vero atque, sunt totam? Odio rerum provident voluptas sunt repellendus pariatur!</p>
                    <p>Repellat odit optio nisi ullam molestias alias eos at aliquid sapiente eveniet vitae quae aliquam, sunt assumenda quibusdam laboriosam nesciunt corrupti rerum, id esse perferendis debitis repudiandae atque! Suscipit, earum?</p>
                    <p>Vel ratione eum quisquam labore molestiae, quod consequuntur laboriosam. Iste dolorum nihil mollitia, ullam debitis aperiam rerum ea necessitatibus cumque quaerat eveniet perspiciatis facere porro perferendis! Autem fugiat consequatur ad.</p>
                    <p>Dolores tempore debitis asperiores minus error aspernatur ex neque eligendi ipsam nesciunt molestias suscipit, recusandae eius tenetur eaque repudiandae atque ipsum! Quo quaerat veritatis doloremque quos repellat? Accusamus, corporis natus.</p>
                    <p>Fuga excepturi architecto exercitationem quam rerum ipsa iusto quos maxime ab dolor recusandae blanditiis repudiandae amet vero eum, quasi sint et. Pariatur sit consequatur mollitia neque, inventore dignissimos nulla a.</p>
                </div>
            </section>
        </main>
    </div>
    <script src="./navbar.js"></script>
</body>
</html>